:root {
  --bg-color: #150137;
  --modal-color: rgba(81, 61, 125, 0.5);
  --text-color: white;
  --black-color: black;
  --font-family: "Press Start 2p", system-ui, sans-serif;
}

/* * {
  box-shadow: 0 0 0 2px red;
} */

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#play,
#pause {
  float: left;
  width: 40px;
  transition: transform 0.3s;
}
#play:hover,
#pause:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#play {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--text-color);

  h1 {
    font-size: 2rem;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  background-color: var(--modal-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  border-radius: 10px;
  background-color: var(--modal-color);
  color: var(--text-color);
  width: 40rem;
  box-shadow: 0 0 10px 5px var(--bg-color);

  backdrop-filter: blur(5px);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}
.highscores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.highscores__heading {
  font-size: 2rem;
  color: var(--black-color);
}
.highscore {
  display: flex;
  gap: 2rem;
  color: var(--bg-color);
  font-size: 1.2rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instructions__explanation {
  text-align: center;
}
.instructions__arrows {
  display: grid;
  width: 50%;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.instructions__arrow--up {
  grid-column: 2;
  grid-row: 1;
  rotate: -90deg;
}
.instructions__arrow--left {
  grid-column: 1;
  grid-row: 2;
  rotate: 180deg;
}
.instructions__arrow--down {
  grid-column: 2;
  grid-row: 3;
  rotate: 90deg;
}
.instructions__arrow--right {
  grid-column: 3;
  grid-row: 2;
}
.instructions__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructions__arrow img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.instructions__arrow img:hover {
  transform: scale(1.1);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.form input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--modal-color);
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.button:hover {
  transform: scale(1.1);
}
.btn__containers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2rem;
}
.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--modal-color);
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  background-color: var(--bg-color);
  color: var(--text-color);
}
.sound {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: var(--text-color);
}
.footer__heading {
  font-size: 1.5rem;
}
.footer__span {
  font-size: 1.5rem;
  font-style: italic;
}
